.danger,
.warning{
  color: #ff0000;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 14px;
}
.warning{
  color: #fac339;
}

.container {
  padding: 0 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container::after{
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  height: 80vh;
  width: 40vw;
  border-radius: 50%;
  background: #46c3e2bd;
  z-index: 0;
  /* filter: blur(20px); */
}
.container::before{
  content: '';
  position: absolute;
  top: -30%;
  right: -10%;
  height: 80vh;
  width: 40vw;
  border-radius: 50%;
  background: #028ad8c5;
  z-index: 0;
}

.main{
  height: 80vh;
  width: 60%;
  background: #028ad8c5;
  z-index: 1000;
  backdrop-filter: blur(10px);
  display: flex;
  transition: .3s;
}


.form{
  /* margin-top : -19px; */
  height: 100%;
  width: 100%;
  background: rgba(206, 120, 120, 0.425);
}
.Home_login___4DHh.Home_login{
  background: red;
}

/* Login Page */
.form > .login{
  height: 100%;
  width: 100%;
  /* display: none; */
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form > .login > *{
  margin: 15px 0;
}
.form > .login > h3{
  font-size: 2.5rem;
  text-decoration: underline;
  cursor: default;
}
.form > .login > p>span{
  color: #035686;
  font-weight: bolder;
  cursor: pointer;
}
.form > .login > p>span:hover{
  color: #0a6ca5;
}
.form > .login > button{
  height: 40px;
  width: 140px;
  border-radius: 10px;
  border: none;
  border: 2px solid #ffffffc5;
  cursor: pointer;
  transition: .2s;
}
.form > .login > button:hover{
  background: #028ad8c5;
  border: 2px solid #fff3;
  scale: 1.1
}
.form > .login > div{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form > .login > div > label{
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: -6px;
}

.form > .login > div > input::placeholder{
  color: #fff9;
}
.form > .login > div > input{
  background: transparent;
  border: none;
  outline: none;
  border-left: 2px solid #fff3;
  border-bottom: 1px solid #fff;
  height: 30px;
  padding: 0 10px;
}



/* Signup Page */
.form > .Signup{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form > .Signup > *{
  margin: 15px 0;
}
.form > .Signup > h3{
  font-size: 2.5rem;
  text-decoration: underline;
  cursor: default;
}
.form > .Signup > p>span{
  color: #035686;
  font-weight: bolder;
  cursor: pointer;
}
.form > .Signup > p>span:hover{
  color: #0a6ca5;
}
.form > .Signup > button{
  height: 40px;
  width: 140px;
  border-radius: 10px;
  border: none;
  border: 2px solid #ffffffc5;
  cursor: pointer;
  transition: .2s;
}
.form > .Signup > button:hover{
  background: #028ad8c5;
  border: 2px solid #fff3;
  scale: 1.1
}
.form > .Signup > div{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form > .Signup > div > label{
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: -6px;
}

.form > .Signup > div > input::placeholder{
  color: #fff9;
}
.form > .Signup > div > input{
  background: transparent;
  border: none;
  outline: none;
  border-left: 2px solid #fff3;
  border-bottom: 1px solid #fff;
  height: 30px;
  padding: 0 10px;
}




.image{
  width: 40%;
  height: 100%;
  background-position-x: left;
  background: url("../pages/images.png");
  background-size: cover;
}

@media (max-width: 1000px) {
  .main{
    width: 100%;
  }
}